@model DGN.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@Html.DisplayFor(model => model.Title)</h1>
            <p class="lead">Author: Ran Biderman</p>
            <p>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info btn-md" role="button">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-md" role="button">Delete</a>
            </p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <span class="text-white badge bg-secondary">@Html.DisplayFor(model => model.Category.CategoryName)</span>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(model => model.Body)</p>
        </div>
        <div class="card-footer text-muted">
            Creation Date @Html.DisplayFor(model => model.CreationTimestamp)
        </div>
    </div>
</div>

<div hidden>
    <h4>Comments</h4>
    <hr />
    @foreach (var item in Model.Comments.OrderByDescending(e => e.CreationTimestamp))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.User.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Body)
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-4 offset-2">
                @Html.DisplayFor(modelItem => item.CreationTimestamp)
            </dd>
            <dd class="col-sm-6">
                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </dd>
        </dl>
    }
</div>
