@model IEnumerable<DGN.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <video muted autoplay controls>
        <source src="/videos/DGN-intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="container">
    <section class="best-articles container">
    </section>
</div>
<section class="hot-articles">
    <div class="wrap">
        <h2>Hottest Articles</h2>
        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/screenshot/default/netflix-on-laptop-jxg5-xfvd640-km42_6vtn.320.jpg"
                     alt="New on Netflix this June" class="thumb" />
            </a>
            <h3 class="caption">
                <a href="#">New on Netflix this June</a>
            </h3>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/news/o/official-e/official-e3-2021-awards-show-announced_5tp3.320.jpg"
                     alt="Tashtiot for ever!" class="thumb" />
            </a>
            <h3 class="caption"><a href="#">Tashtiot for ever!</a></h3>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/video/w/watch-dogs/watch-dogs-legion-of-the-dead-22-minutes-of-alpha-gameplay-1_82ex.320.jpg"
                     alt="22 gameplay minutes of Watch Dogs: Legion of the Dead" class="thumb" />
            </a>
            <h3 class="caption">
                <a href="#">22 gameplay minutes of Watch Dogs: Legion of the Dead</a>
            </h3>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/news/p/playstatio/playstation-planning-expansion-into-mobile-games-and-apps_ewhk.320.jpg"
                     alt=">Sony has just announced new cooperation with IAF!" class="thumb" />
            </a>
            <h3 class="caption"><a href="#">Sony has just announced new cooperation with IAF!</a></h3>
        </article>
    </div>
</section>
<section class="latest-articles">
    <h2>Latest Articles</h2>
    <div class="tbl">
        @foreach (var item in Model)
        {
            <article class="article">
                <div class="left">
                    <a asp-action="Details" asp-route-id="@item.Id" class="thumb">
                        <img src="@Html.DisplayFor(modelItem => item.ImageLocation)"
                             alt="@Html.DisplayFor(modelItem => item.Title)" class="thumb" />
                    </a>
                </div>
                <div class="right">
                    <div class="info">
                        <time datetime="@Html.DisplayFor(modelItem => item.CreationTimestamp)"></time>
                    </div>
                    <h3>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </h3>
                    <p class="fifty-chars">@Html.DisplayFor(modelItem => item.Body)</p>
                </div>
            </article>
        }
    </div>
</section>

@section Scripts {
    <script src="~/js/Index.js"></script>

    <script id="mostCommentedArticlesTemplate" type="text/html">
        <article class="card">
            <a href="/Articles/Details/{id}" class="thumb">
                <img src={imageLocation}
                     alt={title} class="thumb" />
                <h3 class="caption">{title}</h3>
            </a>
        </article>
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}