@model IEnumerable<DGN.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <section class="best-articles container">
        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/slotter/default/ignxe32021-deck-27343a-1618410289892_azfy.560.jpg"
                     alt="E3 2021: Timeline for all the news" class="thumb" />
                <h3 class="caption">E3 2021: Timeline for all the news</h3>
            </a>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/slotter/default/expertmode-godofwar-deck-2-1622654244684_hv8n.560.jpg"
                     alt="God of War will blah blah blah" class="thumb" />
                <h3 class="caption">God of War will blah blah blah</h3>
            </a>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/slotter/default/cruella-deck-1-1622034202955_ekzv.560.jpg"
                     alt="When is tafkid sheni?" class="thumb" />
                <h3 class="caption">When is tafkid sheni?</h3>
            </a>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/slotter/default/joy-con-deck-663399-1622104934285_8qk6.560.jpg"
                     alt="Yoni give me a katzrash" class="thumb" />
                <h3 class="caption">Yoni give me a katzrash</h3>
            </a>
        </article>
    </section>
</div>
<section class="hot-articles">
    <div class="wrap">
        <h2>Hottest Articles</h2>
        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/screenshot/default/netflix-on-laptop-jxg5-xfvd640-km42_6vtn.320.jpg"
                     alt="New on Netflix this June" class="thumb" />
            </a>
            <h3 class="caption">
                <a href="#">New on Netflix this June</a>
            </h3>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/news/o/official-e/official-e3-2021-awards-show-announced_5tp3.320.jpg"
                     alt="Tashtiot for ever!" class="thumb" />
            </a>
            <h3 class="caption"><a href="#">Tashtiot for ever!</a></h3>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/video/w/watch-dogs/watch-dogs-legion-of-the-dead-22-minutes-of-alpha-gameplay-1_82ex.320.jpg"
                     alt="22 gameplay minutes of Watch Dogs: Legion of the Dead" class="thumb" />
            </a>
            <h3 class="caption">
                <a href="#">22 gameplay minutes of Watch Dogs: Legion of the Dead</a>
            </h3>
        </article>

        <article class="card">
            <a href="#" class="thumb">
                <img src="https://sm.ign.com/t/ign_il/news/p/playstatio/playstation-planning-expansion-into-mobile-games-and-apps_ewhk.320.jpg"
                     alt=">Sony has just announced new cooperation with IAF!" class="thumb" />
            </a>
            <h3 class="caption"><a href="#">Sony has just announced new cooperation with IAF!</a></h3>
        </article>
    </div>
</section>
<section class="latest-articles">
    <h2>Latest Articles</h2>
    <div class="tbl">
        <article class="article">
            <div class="left">
                <a href="#" class="thumb">
                    <img src="https://sm.ign.com/t/ign_il/news/b/battlefiel/battlefield-2042-wont-include-a-campaign-or-a-battle-royale_tsnu.280.jpg"
                         alt="Battlefield 3 is better than Fruit Ninja!" class="thumb" />
                </a>
            </div>
            <div class="right">
                <div class="info">
                    <time datetime="2021-06-11T12:00:42+03:00">1 hour, 3 minutes</time>
                </div>
                <h3>
                    <a href="#">Battlefield 3 is better than Fruit Ninja!</a>
                </h3>
                <p>Fruit ninja is also better than CS:GO</p>
            </div>
        </article>
        <article class="article">
            <div class="left">
                <a href="#" class="thumb">
                    <img src="https://sm.ign.com/t/ign_il/news/b/battlefiel/battlefield-2042-wont-include-a-campaign-or-a-battle-royale_tsnu.280.jpg"
                         alt="Battlefield 3 is better than Fruit Ninja!" class="thumb" />
                </a>
            </div>
            <div class="right">
                <div class="info">
                    <time datetime="2021-06-11T12:00:42+03:00">1 hour, 3 minutes</time>
                </div>
                <h3>
                    <a href="#">Battlefield 3 is better than Fruit Ninja!</a>
                </h3>
                <p>Fruit ninja is also better than CS:GO</p>
            </div>
        </article>
        <article class="article">
            <div class="left">
                <a href="#" class="thumb">
                    <img src="https://sm.ign.com/t/ign_il/news/b/battlefiel/battlefield-2042-wont-include-a-campaign-or-a-battle-royale_tsnu.280.jpg"
                         alt="Battlefield 3 is better than Fruit Ninja!" class="thumb" />
                </a>
            </div>
            <div class="right">
                <div class="info">
                    <time datetime="2021-06-11T12:00:42+03:00">1 hour, 3 minutes</time>
                </div>
                <h3>
                    <a href="#">Battlefield 3 is better than Fruit Ninja!</a>
                </h3>
                <p>Fruit ninja is also better than CS:GO</p>
            </div>
        </article>
        <article class="article">
            <div class="left">
                <a href="#" class="thumb">
                    <img src="https://sm.ign.com/t/ign_il/news/b/battlefiel/battlefield-2042-wont-include-a-campaign-or-a-battle-royale_tsnu.280.jpg"
                         alt="Battlefield 3 is better than Fruit Ninja!" class="thumb" />
                </a>
            </div>
            <div class="right">
                <div class="info">
                    <time datetime="2021-06-11T12:00:42+03:00">1 hour, 3 minutes</time>
                </div>
                <h3>
                    <a href="#">Battlefield 3 is better than Fruit Ninja!</a>
                </h3>
                <p>Fruit ninja is also better than CS:GO</p>
            </div>
        </article>
    </div>
</section>

@*=========================================================*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedTimestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedTimestamp)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}