@model IEnumerable<DGN.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <video muted autoplay controls>
        <source src="/videos/DGN-intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="container">
    <section class="best-articles container">
    </section>
</div>
<section class="hot-articles">
    <div class="wrap">
        <h2>Hottest Articles</h2>
        <div class="hot-articles-list"></div>
    </div>
</section>
<section class="latest-articles">
    <h2>Latest Articles</h2>
    <div class="tbl">
        @foreach (var item in Model)
        {
            <article class="article">
                <div class="left">
                    <a asp-action="Details" asp-route-id="@item.Id" class="thumb">
                        <img src="@Html.DisplayFor(modelItem => item.ImageLocation)"
                             alt="@Html.DisplayFor(modelItem => item.Title)" class="thumb" />
                    </a>
                </div>
                <div class="right">
                    <div class="info">
                        <time datetime="@Html.DisplayFor(modelItem => item.CreationTimestamp)"></time>
                    </div>
                    <h3>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </h3>
                    <p class="fifty-chars">@Html.DisplayFor(modelItem => item.Body)</p>
                </div>
            </article>
        }
    </div>
</section>

@section Scripts {
    <script src="~/js/Index.js"></script>

    <script id="mostCommentedArticlesTemplate" type="text/html">
        <article class="card">
            <a href="/Articles/Details/{id}" class="thumb">
                <img src={imageLocation}
                     alt={title} class="thumb" />
                <h3 class="caption">{title}</h3>
            </a>
        </article>
    </script>

    <script id="mostLikedArticlesTemplate" type="text/html">
        <article class="card">
            <a href="/Articles/Details/{id}" class="thumb">
                <img src="{imageLocation}"
                     alt="{title}" class="thumb" />
            </a>
            <h3 class="caption">
                <a href="/Articles/Details/{id}">{title}</a>
            </h3>
        </article>
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}