@model DGN.Models.User

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <section id="formSec" class="">
        <div class="container d-flex align-items-center justify-content-center">
            <aside>
                <div class="inner">
                    <div class="formTitle">
                        <h2>Delete</h2>
                    </div>
                    <hr class="sep">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Username)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Firstname)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Firstname)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Lastname)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Lastname)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Role)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Role)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ImageLocation)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ImageLocation)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.About)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.About)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <div class="form-group">
                            <label class="control-label">Your Password</label>
                            <input type="password" name="plainPass" class="form-control" />
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        <a asp-action="Index">Back to List</a>
                        @if (ViewBag.Error != null)
                        {
                            <div class="text-danger">@ViewBag.Error</div>
                        }
                    </form>
                </div>
            </aside>
        </div>
    </section>
</div>