@model IEnumerable<DGN.Models.User>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="text-center">Users</h2><br />

    <form asp-action="Search" style="padding-bottom: 1%" id="searchForm">
        <div class="row">
            <div class="col">
                <input name="query" id="query" autocomplete="off" class="form-control" placeholder="Search" />
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="search" />
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-action="EditAsAdmin" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Profile" asp-route-id="@item.Id">Profile</a>
                        @if (item.Role != UserRole.Admin || (User.FindFirst(ClaimTypes.NameIdentifier)?.Value).Equals(item.Id.ToString()))
                        {
                            <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/UserSearch.js"></script>
    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                <a href="{email}">
                    {email}
                </a>
            </td>
            <td>
                {username}
            </td>
            <td>
                {firstname}
            </td>
            <td>
                {lastname}
            </td>
            <td>
                {birthday}
            </td>
            <td>
                {role}
            </td>
            <td>
                <a href="Users/EditAsAdmin/{id}">Edit</a> |
                <a href="Users/Profile/{id}">Profile</a> |
                <a href="Users/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
}