@model DGN.Models.User
@using System.Security.Claims;

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="main-body">
        <div class="text-danger" id="ErrorMessage"></div>
        <form id="form" class="row gutters-sm" method="post" asp-action="Profile" enctype="multipart/form-data" onsubmit="return isValidImageExtension()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="ProfileId" type="hidden" asp-for="Id" />
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@Model.ImageLocation" alt="Admin" class="rounded-circle" width="150" height="150">
                            <div class="mt-3" id="ViewAbout">
                                <h4>@Model.Username</h4>
                                <p class="text-secondary mb-1">@Model.About</p>
                            </div>
                            <div class="mt-3" id="EditAbout" hidden>
                                <h4>@Model.Username</h4>
                                <input class="form-control" asp-for="About">
                                <span asp-validation-for="About" class="text-danger" value="@Model.About"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><strong>@Html.DisplayNameFor(model => model.ArticleLikes) by @Model.Username</strong></h6>
                        </li>
                        <div id="Liked">
                        </div>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div class="col-sm-12 text-secondary">
                                <button type="button" class="btn" id="NextPageLiked">Next Page</button>
                                <button type="button" class="btn" id="PrevPageLiked">Prev Page</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body" id="ViewProperties">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Firstname)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Firstname
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Lastname)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Lastname
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Email)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Role)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Role.ToString()
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Birthday)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Birthday.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        @if ((User.FindFirst(ClaimTypes.NameIdentifier)?.Value).Equals(Model.Id.ToString()))
                        {
                            <hr />
                            <div class="row">
                                <div class="col-sm-12 text-secondary">
                                    <button id="EditButton" type="button" class="btn btn-info">Edit</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-body" id="EditProperties" hidden>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Firstname)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" asp-for="Firstname">
                                <span asp-validation-for="Firstname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Lastname)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" asp-for="Lastname">
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Email)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Role</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="@Model.Role" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">@Html.DisplayNameFor(model => model.Birthday)</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" type="date" max="@DateTime.Now.Date.AddYears(-9).ToString("yyyy-MM-dd")" asp-for="Birthday" />
                                <span asp-validation-for="Birthday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Update Profile Image</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="file" name="ImageFile" id="ImageFile" accept="image/x-png,image/jpg,image/jpeg" />
                                <div id="imageExtensionError" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                                <input type="submit" class="btn btn-primary px-4" value="Save Changes" id="SaveChangesButton">
                                <input type="button" class="btn btn-dark px-4" value="Cancel" id="Cancel">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        @if (ViewBag.Error != null)
                        {
                            <div class="text-danger">@ViewBag.Error</div>
                        }
                    </div>
                </div>
                <div class="card mb-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><strong>@Html.DisplayNameFor(model => model.Articles) by @Model.Username</strong></h6>
                        </li>
                        <div id="Authored">
                        </div>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div class="col-sm-12 text-secondary">
                                <button type="button" class="btn" id="NextPageAuthored">Next Page</button>
                                <button type="button" class="btn" id="PrevPageAuthored">Prev Page</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card mb-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><strong>The articles @Model.Username commented on </strong></h6>
                        </li>
                        <div id="MostCommented">
                        </div>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div class="col-sm-12 text-secondary">
                                <button type="button" class="btn" id="NextPageMostCommented">Next Page</button>
                                <button type="button" class="btn" id="PrevPageMostCommented">Prev Page</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script id="NoMoreArticleTemplate" type="text/html">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <h6 class="mb-0"><strong>There are no More Articles</strong></h6>
        </li>
    </script>

    <script id="NoArticleTemplate" type="text/html">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <h6 class="mb-0"><strong>There are no Articles</strong></h6>
        </li>
    </script>

    <script id="ArticleTemplate" type="text/html">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <row>
                <img src="{imageLocation}" alt="Admin" width="50" height="50">
                <a class="mb-0" href="/Articles/Details/{id}"> {title} </a>
            </row>
        </li>
    </script>

    <script src="~/js/Profile.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="/css/Profile.css" />
}