@model DGN.Models.Category

@{
    ViewData["Title"] = "Articles in this category";
}

<div class="container">

    <h1>
        Articles under category <cName style="color: #5e4dc9;">@Html.DisplayFor(model => model.CategoryName)</cName>
    </h1>


    <div>
        <hr />
        @foreach (var item in Model.Articles)
        {
            <dl class="row">
                <dt class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Title)
                    <br/>
                    <span class="small disabled">@item.User.Username</span>
                </dt>
                <dd class="col-sm-2">
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">Read now</a>
                </dd>
            </dl>
            <hr />

        }
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

