@model IEnumerable<DGN.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h2 class="text-center">Categories</h2><br />
    <div class="container">
        <form asp-action="Search" id="searchForm">
            <div class="row">
                <div class="col">
                    <input name="categoryName" id="categoryName" autocomplete="off" class="form-control" placeholder="Search" />
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </div>
        </form>
        <span id="searchFormError"></span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create" class="btn btn-primary">Add new category</a>
</div>

@section Scripts {
    <script type="text/javascript">
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

    <script id="categoryTemplate" type="text/html">
        <tr>
            <td>
                {categoryName}
            </td>
            <td>
                <a href="/Categories/Edit/{id}">Edit</a> |
                <a href="/Categories/Details/{id}">Details</a> |
                <a href="/Categories/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>

    <script src="~/js/Categories.js"></script>
}