@model DGN.Models.Branch

@{
    ViewData["Title"] = "Details";
}

<div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <aside>
                <div class="inner">
                    <div class="formTitle">
                        <h2>Details</h2>
                    </div>
                    <hr class="sep">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.BranchName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.BranchName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.ActivityTime)
                        </dt>
                        <dd class="col-sm-9">
                            <pre style="text-align: left; white-space: pre-line;">
                                @Html.DisplayFor(model => model.ActivityTime)
                            </pre>
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </aside>
        </div>
</div>
