@model IEnumerable<DGN.Models.Branch>
@using System.Security.Claims;

@{ ViewData["Title"] = "Branches"; }

<div class="container">
    <h2 class="text-center">Contact Us</h2><br />

    <div class="row">
        <div class="col-md-12 map">
            <div id="myMap" style="width:100%; height:610px;"></div>
        </div>
    </div>

    <br />
    <h2>Branches list</h2>
    <form asp-action="Search" style="padding-bottom: 1%" id="searchForm">
        <div class="row">
            <div class="col">
                <input name="query" id="query" autocomplete="off" class="form-control" placeholder="Search"/>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Search"/>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <pre>
                           @Html.DisplayFor(modelItem => item.ActivityTime)
                        </pre>
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if ((User.FindFirst(ClaimTypes.Role)?.Value).Equals(UserRole.Admin.ToString()))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                            }
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.Identity.IsAuthenticated)
    {
        @if ((User.FindFirst(ClaimTypes.Role)?.Value).Equals(UserRole.Admin.ToString()))
        {
            <p>
                <a asp-action="Create" class="btn btn-primary">Add new branch</a>
            </p>
        }
    }

</div>

@section Scripts {
    <script>
        var branchesList = @Html.Raw(Html.Raw(Json.Serialize(Model)));
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
    <script src="~/js/branches.js" asp-append-version="true"></script>

    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                {branchName}
            </td>
            <td>
                <a href={email}>{email}</a>
            </td>
            <td>
                <pre>
                    {activityTime} 
                </pre>
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if ((User.FindFirst(ClaimTypes.Role)?.Value).Equals(UserRole.Admin.ToString()))
                    {
                        <a href="/Branches/Edit/{id}">Edit</a><span> |</span>
                        <a href="/Branches/Delete/{id}">Delete</a><span> |</span>
                    }
                }
                <a href="/Branches/Details/{id}">Details</a>
            </td>
        </tr>
    </script>
}

@section Styles
{
    <link rel="stylesheet" href="~/css/map.css" />
}